{% extends 'base.html' %}

{% block content %}

<h2>Update Product</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        Name:
        <input type="text" name="name" value="{{ product.name }}">
    </p>

    <p>
        Price:
        <input type="number" name="price" value="{{ product.price }}">
    </p>

    <p>
        Description:
        <textarea name="description">{{ product.description }}</textarea>
    </p>

    <p>
        Stock:
        <input type="number" name="stock" value="{{ product.stock }}">
    </p>

    <p>
        Image:
        <input type="file" name="image">
    </p>

    <button type="submit">Update Product</button>

</form>

{% endblock %}